# Regular files
**/slurm*.out
**/.afni.log
**/.cache
.viminfo

# fmriprep files/directories
slurm/scp.sh
bids/*
fmriprep/*

freesurfer/*
!/freesurfer/
!/freesurfer/*.example

!/bids/*.example
!/fmriprep/*.example
!/fmriprep/software/
/fmriprep/software/*
!/fmriprep/software/*.example
!/fmriprep/log/
/fmriprep/log/*
!/fmriprep/log/*.example
!/fmriprep/logs

# bayesian non-relevant files
**/bayesian_analysis/*.RDS
**/bayesian_analysis/*.rds
**/*.tar.gz
**/*.csv
**/bayesian_analysis/packages/*
**/bayesian_analysis/packages_extracted/*
**/bayesian_analysis/set2/*
!/bayesian_analysis/set2/*.example
R_libs/*
