Loading python/zen2/3.8.12
  Loading requirement: matplotlib/3.4.3/zen2
Running Fmriprep processing for fad5540...
/usr/local/miniconda/lib/python3.7/site-packages/bids/config.py:40: FutureWarning: Setting 'extension_initial_dot' will be removed in pybids 0.16.
  FutureWarning)
You are using fMRIPrep-20.2.7, and a newer version of fMRIPrep is available: 23.2.3.
Please check out our documentation about how and when to upgrade:
https://fmriprep.readthedocs.io/en/latest/faq.html#upgrading
